#main-title{
    color: #fffFFF;
}
.main-container{
    padding-top: 5.6rem;
}
.titleText{
    font-size: 4.6rem;
    font-weight: 1;
    margin-bottom: 1.8rem;
    text-align: center;
}
.titleSubText{
    font-size: 3.6rem;
    font-weight: 1;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2.2rem;
    text-align: center;
    width: fit-content;
    border-top: solid 1px;   
}

.hero-padding{
    padding: 0 !important;
  }
  .hero-main-padding{
    padding-top: 10.0rem;
    width: 70%  !important;
  }
  .underline{
    border-top : solid 1px;
    width: 540px;
    margin: 0 auto;
  }
  .HeroComponent-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .HeroComponent-title{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2.1rem; 
    font-weight: 500;
  }
  .HeroComponent-text{
    font-size: 1.6rem; 
    text-align: left;
  }
  .HeroComponent-innerComponent{
    cursor:pointer;
	position:relative;
	padding:10px 10px;
    background-color: #e0e0e0bc;
    min-width: 340px;
    max-width: 340px;
    min-height: 330px;
    max-height: 330px;
    margin-top: 2rem;
	font-size:28px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	transition:all 1s;
	&:after,&:before{
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		border :0px solid #fff;
		transition:all 1s;
		}
	&:after{
		top:-1px;
		left:-1px;
		border-top:5px solid #fffFFF;
		border-left:5px solid #fffFFF;
	}
	&:before{
		bottom:-1px;
		right:-1px;
		border-bottom:5px solid #fffFFF;
		border-right:5px solid #fffFFF;
	}
	&:hover{
		border-top-right-radius:0px;
	    border-bottom-left-radius:0px;
        background-color: #5f5f5ffa !important;
        transform: scale(0.9);
        filter: blur(2px);
		&:before,&:after{
			width:100%;
			height:100%;
			// border-color:white;
		}
	}

    // margin-top: 2rem;
    // min-width: 340px;
    // max-width: 340px;
    // min-height: 310px;
    // max-height: 310px;
    // padding: 9px;
    // background-color: #e0e0e0de;
    // color: black;
    // font-size: 30px;
    // border-radius: 25px;
    // &:hover{
    //     // background-color: #e0e0e0fa;
    //     cursor: pointer;
    //     webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    //     filter: blur(4px);
    // }
  }
  .hero-picture-container{
    // position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 999;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    // max-width: 280px;
  }
  .imageStyle{
      margin-top: 72px;
  }
  a, p {
    font-family: Montserrat,sans-serif;
    font-size: 1.6rem;
}

 .frontpage-detail-text{
    position: relative;
    z-index: 9999;
    bottom: 280px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight:400;
    animation: 5s fadeIn;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: -30px;
    // animation-fill-mode: forwards;
 }

.modal-content.detail-modal{
    max-width: 100%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
    background: transparent !important;
}
.modal-dialog-centered.detail-size{
    justify-content: center;
}
.modal-dialog.detail-size{
    max-width: 70%;
    border-radius: 15px;
}
.modal-content{
    min-width: 950px;
    background: transparent !important;
}
.modal-container{
     /* display: block; */
     margin: 0;
     padding: 0;
     min-width: 950px;
     width: 100%;
    //  
     height: 900px;
     background-color: #e0e0e0f1;
     border-radius: 15px;
}
